---
import PageLayout from "@/layouts/PageLayout.astro";
import AboutGallery from "./aboutgallery";
import Contentstable from "@/components/contents-table/contentstable.astro";
import TeamCard from "@/components/cards/teamcard.astro";
import Commongrid from "@/components/grid/commongrid.astro";
import { FocusCards } from "@/components/cards/focus-cards";

const contents = [
  {
    title: "BPHC",
    link: "#bphc",
  },
  {
    title: "TBI",
    link: "#tbi",
  },
  {
    title: "Thrust areas",
    link: "#thrust-areas",
  },

  {
    title: "Team",
    link: "#team",
  },
];

const pictures = [
  "/thrustareas/agritech.png",
  "/thrustareas/biotech.png",
  "/thrustareas/ict.png",
  "/thrustareas/mems.png",
  "/thrustareas/spacetech.png",
  "/thrustareas/ecommerce.png",
]

const cards = [
    {
      title: "",
      src: "/thrustareas/agritech.png",
    },
    {
      title: "",
      src: "/thrustareas/biotech.png",
    },
    {
      title: "",
      src: "/thrustareas/ict.png",
    },
    {
      title: "",
      src: "/thrustareas/mems.png",
    },
    {
      title: "",
      src: "/thrustareas/spacetech.png",
    },
    {
      title: "",
      src: "/thrustareas/ecommerce.png",
    },
  ];

---

<PageLayout>
  <div class="hidden md:block">
    <AboutGallery client:visible />
  </div>
  <main class="mt-8 md:flex md:flex-row gap-20 lg:px-[25vh] md:px-[10vh] px-2">
    <section>
      
    </section>
    <section>
      <div class="ml-6 md:ml-3">
        <h1>ABOUT</h1>
        <div>
          <Contentstable contents={contents} />
        </div>
      </div>
    </section>
    <section class="mt-6 md:mt-0">
      <div id="bphc" class="mb-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">BPHC</h1>
        <p>
          Birla Institute of Technology and Science, Pilani – Hyderabad Campus
          is one of the five constituent campuses of the BITS Pilani university
          located in Hyderabad, India. BITS opened its campus in Hyderabad upon
          invitation by the Government of Andhra Pradesh in 2008 with the first
          batch of campus graduating in 2012.
        </p>
      </div>
      <div id="tbi" class="mb-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">TBI</h1>
        <p>
          BITS Pilani Hyderabad campus houses a technology business incubator
          (TBI) called BITS Pilani Hyderabad Campus TBI Society (henceforth
          referred to as “TBIS”) since 2012 to encourage innovative
          entrepreneurship, and to facilitate translation of knowledge or
          technology-driven innovations from within and outside the institute.
          TBIS was initially established with the support of National Science
          and Technology Entrepreneurship Development Board (NSTEDB), DST, Govt.
          of India and is currently being supported by the intramural budget.
        </p>
      </div>
      <div id="thrust-areas" class="my-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Thrust Areas</h1>
        <p>
          Right from its inception, TBIS has had major focus on fostering
          technology/knowledge-based start-ups in the areas of Pharma &
          Biopharma, ICT in Healthcare, Medical Devices, Biotechnology,
          MicroElectroMechanical Systems (MEMS) for Diagnostic devices and PoC
          healthcare. Being an incubator housed at academic institute with 12
          different departments, TBIS is welcoming for sector agnostic
          innovations. However, start-ups and innovators from Healthcare sector
          including Invitro Diagnostics (IVD), MEMS, Pharma and
          Bio-Pharmaceuticals has always been predominant incubatees at TBIS.
        </p>
        <!-- <Commongrid pictures={pictures}/> -->
         <FocusCards client:visible cards={cards} height="h-[180px]" width="w-full"/>
      </div>
      <div id="team" class="my-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Team</h1>
        <div class="">
          <section class="flex space-x-8">
              <TeamCard
                  name="Dr. Sandeep Raut"
                  image="/team/sandeepraut.jpg"
                  description="The General Manager for the Technology and Business Incubator, BITS Pilani, Hyderabad Campus"
              />
              <TeamCard
                  name="Mr. Mir Ali"
                  image="/team/mirali.jpeg"
                  description="The Assistant Manager for the Technology and Business Incubator, BITS Pilani, Hyderabad Campus"
              />
          </section>
      </div>
      </div>
    </section>
  </main>
</PageLayout>
