---
import PageLayout from "@/layouts/PageLayout.astro";
import {AboutGallery, SecondaryAboutGallery} from "./aboutgallery";
import Contentstable from "@/components/contents-table/contentstable.astro";
import TeamCard from "@/components/cards/teamcard.astro";
import Commongrid from "@/components/grid/commongrid.astro";
import { FocusCards } from "@/components/cards/focus-cards";
import { CardGrid } from "@/components/cards/content-card";
import { MultiImageCarousel } from "@/components/carousel/carousel";
import InspireGrid from "@/components/carousel/home-carousel";
import { ImpactCarousel } from "@/components/carousel/impact";
import SlidingText from "@/components/text/sliding-text";

const contents = [
  {
    title: "BPHC",
    link: "#bphc",
  },
  {
    title: "TBI",
    link: "#tbi",
  },
  {
    title: "Thrust areas",
    link: "#thrust-areas",
  },

  {
    title: "Governing & Operations",
    link: "#team",
  },
];

const pictures = [
  "/thrustareas/agritech.png",
  "/thrustareas/biotech.png",
  "/thrustareas/ict.png",
  "/thrustareas/mems.png",
  "/thrustareas/spacetech.png",
  "/thrustareas/ecommerce.png",
]

const pictures2 = [
  "https://images5.alphacoders.com/379/379348.jpg",
  "https://www.catalyser.in/public/img/blog/bitcblog1.jpg",
  "https://www.bitsadmission.com/images/Home_Page_Image_1.png",
];

const cards = [
  "/thrustareas/agritech.png",
  "/thrustareas/biotech.png",
  "/thrustareas/ict.png",
  "/thrustareas/mems.png",
  "/thrustareas/spacetech.png",
  "/thrustareas/ecommerce.png",
];


---

<PageLayout>
  <section class="flex items-center justify-center md:px-0">
    <AboutGallery client:visible/>
  </section>
  
  <!-- introduction to TBI -->
  <section class="md:flex items-center justify-center gap-20 px-6 md:px-2 lg:px-[15vh] pb-10 bg-nord6 ">
   
      
    <div class="md:w-[50%] mt-12">
      <div class="mb-6">
        <h1 class="text-4xl mb-4 md:block hidden">
          <SlidingText classes="text-nord10" text="Technology Business Incubator" stage={1} type="typewriter" client:visible/>
        </h1>
        <h1 class="md:hidden text-4xl mb-4 pt-8">
          <SlidingText classes="text-nord10" text="Technology Business" stage={0.75} type="slide up" client:visible/>
          <SlidingText classes="text-nord10" text="Incubator Society" stage={0.5} type="slide up" client:visible/>
        </h1>
      </div>

      <p class="text-nord2">
        Since 2012, BITS Pilani Hyderabad Campus Technology Business Incubator (TBI), 
        has been propelling technology-driven startups to new heights. With a mission 
        to encourage cutting-edge, knowledge-based entrepreneurship, TBIS provides a 
        launchpad for transformative ideas that aim to take off and make a lasting 
        impact in the real world. Originally established with support from the 
        National Science and Technology Entrepreneurship Development Board (NSTEDB), 
        Department of Science and Technology (DST), Government of India, TBIS continues 
        to thrive under the institute’s intramural funding, supporting entrepreneurs 
        on their journey from concept to lift-off.

      </p>
    </div>

    <div class="mt-12">
      <SecondaryAboutGallery pictures={pictures2} client:only="react"/>
    </div>
  </section>
  <hr class="h-1 border-0 bg-nord10" />
  <!-- Vision and Goals -->
  <section class="flex flex-col items-center justify-center px-6 md:px-[35vh] -mb-8 pt-8 pb-16 bg-nord2">
    
    <div class="md:flex gap-10 py-8">
      <div>
        <div>
          <h1 class="text-left text-3xl text-white">
            Hyderabad Startup Ecosystem
          </h1>
          <SlidingText type="" classes="white" client:visible/>
        </div>
        
        
        <p class="md:mt-6 text-justify pr-4 mb-6 md:mb-0 text-white">
          Hyderabad has quickly established itself as one of India’s most dynamic 
          and rapidly growing startup ecosystems. As a vital part of this thriving hub, 
          TBIS taps into the city’s vibrant entrepreneurial energy, state-of-the-art 
          infrastructure, and expanding network of investors, industry leaders, and tech 
          professionals. The city’s rise as a startup powerhouse amplifies TBIS’s ability 
          to connect its incubatees with a broader ecosystem, offering unparalleled 
          opportunities for collaboration, investment, and global growth. 
  
      </div>
  </div>
  </section>

  <hr class="h-1 border-0 bg-nord10" />

  <section class="md:flex items-center justify-center gap-24 px-6 md:px-2 lg:px-[35vh] pb-10 bg-nord6">
      <div id="thrust-areas" class="my-6 scroll-mt-20 flex items-center justify-center space-x-6">
        <div class="my-4">
          <h1 class="flex text-4xl text-nord10 mb-5">
            Thrust Areas
          </h1>
          <p>
            From its inception, TBIS has maintained a strong focus on accelerating 
            technology and knowledge-driven startups, particularly in the high-impact 
            sectors of Pharma & Biopharma, ICT in Healthcare, Medical Devices, Biotechnology, 
            and MicroElectroMechanical Systems (MEMS) for Diagnostic Devices and Point-of-Care (PoC) Healthcare.
            Situated within an academic powerhouse with 12 diverse departments, TBIS is a dynamic 
            and welcoming ecosystem for sector-agnostic innovations. However, its primary thrust 
            remains on healthcare-related startups, particularly in In Vitro Diagnostics (IVD), 
            MEMS, Pharma, and Bio-Pharmaceuticals—areas that have consistently been the focus of its successful incubations.
  
          </p>
        </div>

        <div>
          <SecondaryAboutGallery pictures={cards} client:only="react"/>
        </div>
        
        <!-- <Commongrid pictures={pictures}/> -->
         <!-- <FocusCards client:visible cards={cards} height="h-[180px]" width="w-full"/>
           -->


      </div>
  </section>

  <hr class="h-1 border-0 bg-nord10" />
  <section class="md:flex items-center justify-center gap-24 px-6 md:px-2 lg:px-[35vh] pb-10 bg-nord6">
    <div id="team" class="my-6 scroll-mt-20">
      <h1 class="flex items-center justify-center text-4xl text-nord10 mb-5">
        Leadership
      </h1>
      <div class="">
        <section class="flex space-x-8">
            <TeamCard
                name="Prof. V Ramgopal Rao"
                image="/governingandoperations/vrrao.jpg"
                description="Vice-Chancellor - Birla Institute of Technology & Science, Pilani and Chairman - TBIs"
            />
            <TeamCard
                name="Prof Soumyo Mukherji"
                image="/governingandoperations/Prof.SoumyoMukherji.png"
                description="Director - BITS Pilani, Hyderabad Campus and President, Technology Business Incubator"
            />
            <TeamCard
                name="Prof. P Yogeeswari"
                image="/governingandoperations/Prof.PYogeeswari.png"
                description="Chairperson - Technology Business Incubator, BITS Pilani, Hyderabad Campus"
            />
        </section>
        <h1 class="flex items-center justify-center text-4xl text-nord10 mb-5">
          Team
        </h1>
        <section class="flex space-x-8">
          <TeamCard
              name="Mr. Sachin Arya"
              image="/governingandoperations/SachinArya.png"
              description="Chief Executive Officer, TBIs - Birla Institute of Technology & Science, Pilani"
          />
          <TeamCard
              name="Dr. Sandeep Raut"
              image="/governingandoperations/sandeepraut.jpg"
              description="General Manager - Technology and Business Incubator, BITS Pilani, Hyderabad Campus"
          />
          <TeamCard
              name="Mr. Mir Ali"
              image="/governingandoperations/mirali.jpeg"
              description="Assistant Manager - Technology and Business Incubator, BITS Pilani, Hyderabad Campus"
          />
      </section>
    </div>
    </div>
  </section>

  
</PageLayout>
