---
import PageLayout from "@/layouts/PageLayout.astro";
import AboutGallery from "./aboutgallery";
import Contentstable from "@/components/contents-table/contentstable.astro";
import TeamCard from "@/components/cards/teamcard.astro";
import Commongrid from "@/components/grid/commongrid.astro";
import { FocusCards } from "@/components/cards/focus-cards";

const contents = [
  {
    title: "BPHC",
    link: "#bphc",
  },
  {
    title: "TBI",
    link: "#tbi",
  },
  {
    title: "Thrust areas",
    link: "#thrust-areas",
  },

  {
    title: "Team",
    link: "#team",
  },
];

const pictures = [
  "/thrustareas/agritech.png",
  "/thrustareas/biotech.png",
  "/thrustareas/ict.png",
  "/thrustareas/mems.png",
  "/thrustareas/spacetech.png",
  "/thrustareas/ecommerce.png",
]

const cards = [
    {
      title: "",
      src: "/thrustareas/agritech.png",
    },
    {
      title: "",
      src: "/thrustareas/biotech.png",
    },
    {
      title: "",
      src: "/thrustareas/ict.png",
    },
    {
      title: "",
      src: "/thrustareas/mems.png",
    },
    {
      title: "",
      src: "/thrustareas/spacetech.png",
    },
    {
      title: "",
      src: "/thrustareas/ecommerce.png",
    },
  ];

---

<PageLayout>
  <div class="hidden md:block">
    <AboutGallery client:visible />
  </div>
  <main class="mt-8 md:flex md:flex-row gap-20 lg:px-[25vh] md:px-[10vh] px-2">
    <section>
      
    </section>
    <section>
      <div class="ml-6 md:ml-3">
        <h1>ABOUT</h1>
        <div>
          <Contentstable contents={contents} />
        </div>
      </div>
    </section>
    <section class="mt-6 md:mt-0">
      <div id="bphc" class="mb-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">BITS Pilani, Hyderabad Campus</h1>
        <p>
          Birla Institute of Technology and Science, Pilani – Hyderabad Campus 
          is one of the five constituent campuses of BITS Pilani University, 
          located in Hyderabad, India. Launched in 2008 at the invitation 
          of the Government of Andhra Pradesh, BITS Pilani Hyderabad 
          welcomed its first graduating batch in 2012, marking a significant 
          milestone in its journey of academic excellence and innovation.
        </p>
      </div>
      <div id="tbi" class="mb-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Technology Business Incubator</h1>
        <p>
          Since 2012, BITS Pilani Hyderabad Campus Technology Business Incubator (TBI),
          has been propelling technology-driven startups to new heights. With a mission 
          to encourage cutting-edge, knowledge-based entrepreneurship, TBIS provides a 
          launchpad for transformative ideas that aim to take off and make a lasting 
          impact in the real world.
          Originally established with support from the National Science and Technology 
          Entrepreneurship Development Board (NSTEDB), Department of Science and Technology 
          (DST), Government of India, TBIS continues to thrive under the institute’s intramural f
          unding, supporting entrepreneurs on their journey from concept to lift-off.
        </p>
      </div>
      <div id="hyd" class="mb-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Hyderabad Startup Ecosystem</h1>
        <p>
          Hyderabad has quickly established itself as one of India’s most 
          dynamic and rapidly growing startup ecosystems. As a vital part of this 
          thriving hub, TBIS taps into the city’s vibrant entrepreneurial energy, 
          state-of-the-art infrastructure, and expanding network of investors, industry 
          leaders, and tech professionals. The city’s rise as a startup powerhouse amplifies 
          TBIS’s ability to connect its incubatees with a broader ecosystem, offering unparalleled 
          opportunities for collaboration, investment, and global growth.

        </p>
      </div>
      <div id="thrust-areas" class="my-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Thrust Areas</h1>
        <p>
          From its inception, TBIS has maintained a strong focus on accelerating 
          technology and knowledge-driven startups, particularly in the high-impact 
          sectors of Pharma & Biopharma, ICT in Healthcare, Medical Devices, Biotechnology, 
          and MicroElectroMechanical Systems (MEMS) for Diagnostic Devices and Point-of-Care (PoC) Healthcare.
          Situated within an academic powerhouse with 12 diverse departments, TBIS is a dynamic 
          and welcoming ecosystem for sector-agnostic innovations. However, its primary thrust 
          remains on healthcare-related startups, particularly in In Vitro Diagnostics (IVD), 
          MEMS, Pharma, and Bio-Pharmaceuticals—areas that have consistently been the focus of its successful incubations.

        </p>
        <!-- <Commongrid pictures={pictures}/> -->
         <FocusCards client:visible cards={cards} height="h-[180px]" width="w-full"/>
      </div>
      

      <div id="team" class="my-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Governing Body and Operations</h1>
        <div class="">
          <section class="flex space-x-8">
              <TeamCard
                  name="Prof. V Ramgopal Rao"
                  image="/governingandoperations/vrrao.jpg"
                  description="Vice-Chancellor - Birla Institute of Technology & Science, Pilani and Chairman - TBIs"
              />
              <TeamCard
                  name="Prof Soumyo Mukherji"
                  image="/governingandoperations/Prof.SoumyoMukherji.png"
                  description="Director - BITS Pilani, Hyderabad Campus and President, Technology Business Incubator"
              />
              <TeamCard
                  name="Prof. P Yogeeswari"
                  image="/governingandoperations/Prof.PYogeeswari.png"
                  description="Chairperson - Technology Business Incubator, BITS Pilani, Hyderabad Campus"
              />
          </section>
          <section class="flex space-x-8">
            <TeamCard
                name="Mr. Sachin Arya"
                image="/governingandoperations/SachinArya.png"
                description="Chief Executive Officer, TBIs - Birla Institute of Technology & Science, Pilani"
            />
            <TeamCard
                name="Dr. Sandeep Raut"
                image="/governingandoperations/sandeepraut.jpg"
                description="General Manager - Technology and Business Incubator, BITS Pilani, Hyderabad Campus"
            />
            <TeamCard
                name="Mr. Mir Ali"
                image="/governingandoperations/mirali.jpeg"
                description="Assistant Manager - Technology and Business Incubator, BITS Pilani, Hyderabad Campus"
            />
        </section>
      </div>
      </div>
    </section>
  </main>
</PageLayout>
