---
import PageLayout from "@/layouts/PageLayout.astro";
import TeamCard from "@/components/cards/teamcard.astro";
// note that all links of social media should be absolute ("http://linkedin.com/..." not "linkedin.com/")
---

<PageLayout>
    <main class="px-6 md:px-[25vh] my-8">
        <section class="text-center text-4xl my-8">OUR TEAM</section>
        <div class="flex items-center justify-center">
            <section
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 w-full space-x-1"
            >
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
                <TeamCard
                    name="Narendra Modi"
                    description="In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or"
                />
            </section>
        </div>
    </main>
</PageLayout>
