---
import PageLayout from "@/layouts/PageLayout.astro"
import Card from "@/components/cards/card.astro"
---

<PageLayout>
    <main class="px-[25vh]">
        <h1 class=" text-nord10 text-4xl text-center p-4">
            INCUBATEES
        </h1>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ea, ratione, aspernatur officia, hic sed praesentium rerum nesciunt animi aliquid unde a consequuntur dolore expedita error corrupti vitae. Ipsum, officia ducimus!
        </p>

        <div class="grid grid-cols-5 mt-2">
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
            <Card name={"TIGRIS AI"} link="google.com" img={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC9JsD5Sh7u3zhmvaj458xlM8qbk29cfmu41wlID7tebTagR0YuEDBFSmxP_tKN-jTozM&usqp=CAU"}/>
        </div>

        <h1 class="text-nord10 text-bold text-3xl my-4">
            FOCUS AREAS
        </h1>
        <p class="mb-8">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus esse expedita obcaecati quaerat voluptas, culpa quas amet commodi optio, delectus sint veritatis fugiat, in hic cupiditate doloremque? Hic, dolore deserunt!

        </p>
    </main>
</PageLayout>