---
import PageLayout from "@/layouts/PageLayout.astro";
import Card from "@/components/cards/card.astro";
---

<PageLayout>
  <main class="px-6 md:px-[25vh]">
    <h1 class="text-nord10 text-4xl text-left my-4">INCUBATEES</h1>

    <p class="text-justify">
      The Technology Business Incubator (TBI) at BITS Pilani, Hyderabad Campus currently incubates 
      thirteen startupsat its premises. The incubatees are working on a wide range of technologies 
      and products, encompassing major thrust areas such as SpaceTech and Defence, ICT for Healthcare, Micro-Electro-Mechanical 
      Systems (MEMS), Bio-Technology and Pharmacy, Edutainment and E-Commerce and Agri-Technology
      and Agri-Bio-Technology
    </p>
    <div class="flex items-center justify-center">
      <div
        class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-2 md:-ml-4"
      >
        <Card
          name={"Abyom Spacetech And Defence Private Limited"}
          link="https://abyom.com/"
          img={"/startups/abyom.png"}
          description = "Reusable and Reliable Space Launch Infrastructure"
        />
        <Card
          name={"Anjamma Healthcare Private Limited"}
          link="https://anjammahealthcare.com/"
          img={"/startups/anjamma.png"}
          description = "Non-Invasive Technique to detect Blood Glucose Level"
        />
        <Card
          name={"Cleome Innovations Private Limited"}
          link="https://cleome.in/"
          img={"/startups/cleome.png"}
          description = "Ultra-Portable Microfluidic Nucleic Acid Amplification System"
        />
        <Card
          name={"Pyrome Innovations Private Limited"}
          link="https://pyrome.in/"
          img={"/startups/pyrome.png"}
          description = "Microfluidics, Nanomaterials, Graphene and Additive Manufacturing"
        />
        <Card
          name={"Sensome Innovations Private Limited"}
          link="https://sensome.in/"
          img={"/startups/sensome.png"}
          description = "Microfluidic Devices for Healthcare and Environment"
        />
        <Card
          name={"Applied Aero Labs Private Limited"}
          link="https://appliedaerolabs.com/"
          img={"/startups/Applied_Aero_Labs.png"}
          description = "Wind Tunnels tailored for Drone Development"

        />
        <Card
          name={"Pharmajen Laboratories Private Limited"}
          link="https://pharmajen.com/"
          img={"/startups/pharmajen.png"}
          description = "New Product Development for Unmet Diseases"
        />
        <Card
          name={"Masuu Organic Private Limited"}
          link="https://masuuglobal.com/"
          img={"/startups/masuu.png"}
          description = "Innovative Pharma Solutions and Software"
        />
        <Card
          name={"Cinnova Bio Therapeutics Private Limited"}
          link="https://cinnova-bio.com/"
          img={"/startups/cinnova.png"}
          description = "Developing Novel Formulations of Pharmaceutical Injectable products"
        />
        <Card
          name={"Tangerne Esperer Private Limited"}
          link="google.com"
          img={"/startups/tangerne.png"}
          description = "Herbal, Semi Herbal and Synthetic products for Healthcare"
        />
        <Card
          name={"Atreves Healthcare Private Limited"}
          link="https://www.linkedin.com/company/atreves-healthcare-pvt-ltd/"
          img={"/startups/atreves.png"}
          description = "Novel Customized Healthcare Products"

        />
        <Card
          name={"Alfaleus Technology Private Limited"}
          link="https://alfaleus.in/"
          img={"/startups/alfaleus.png"}
          description = "Virtual Reality based eye testing for glaucoma"
        />
        <Card
          name={"Arno AI"}
          link=""
          img={"/startups/ArnoAI.png"}
          description = "Eliminate Grunt Work for Overworked Indian Lawyers"
        />
        <Card
          name={"Zeromatter Tech"}
          link=""
          img={"/startups/zeromatter.png"}
          description = "Actively Cooled Battery system for Efficiency and Sustainability"
        />
        <Card
          name={"Sparsha Care Innovations"}
          link=""
          img={"/startups/sparsha.png"}
        />
        <Card
          name={"Sasha Innoworks"}
          link=""
          img={"/startups/sasha.png"}
          description = "Advanced Robotic Pick-and-place Operations Device (ARPOD)"
        />
        <Card
          name={"Yantraayush Solutions"}
          link=""
          img={"/startups/yantra.png"}
          description = "Industry asset monitoring and reporting systems"
        />
        <Card
        name={"Jagruthi Environmental Solutions"}
        link=""
        img={"/startups/jagruthi.png"}
        description = "Addressing Plastic to Oil Conversion challenges"
      />
      <Card
        name={"Vanshaj"}
        link=""
        img={"/startups/vanshaj.png"}
        description = "Smart Medication Reminder and Monitoring System"
      />
      <Card
        name={"Hibionics"}
        link=""
        img={"/startups/vanshaj.png"}
        description = "Smart Medication Reminder and Monitoring System"
      />
      </div>
    </div>
  </main>
</PageLayout>
