---
import PageLayout from "@/layouts/PageLayout.astro";
import Contentstable from "@/components/contents-table/contentstable.astro";
import TeamCard from "@/components/cards/teamcard.astro";
import Commongrid from "@/components/grid/commongrid.astro";
import IncubateesCardGrid from "./carousels/cards";

const contents = [
  {
    title: "Incubation",
    link: "#incubation",
  },
  {
    title: "SEEP",
    link: "#seep",
  },
];

const seep1pictures = [
  "/programs/seepguest.png",
  "/programs/seep1.jpg",
  "/programs/seepgrp.png",
  
]

const seep2pictures = [
  "https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp",
  "https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp",
  "https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp",
]


---

<PageLayout>
  <main class="mt-8 md:flex md:flex-row gap-20 lg:px-[25vh] md:px-[10vh] px-2">
    <section>
      <div class="ml-3">
        <h1>PROGRAMMES</h1>
        <div>
          <Contentstable contents={contents} />
        </div>
      </div>
    </section>
    
    <section class="mt-6 md:mt-0">
      <div id="incubation" class="mb-6 scroll-mt-20">
        <IncubateesCardGrid />
      <div id="team" class="my-6 scroll-mt-20">
        <div class="">
          <ul class="">
            <li class="text-md text-nord10 mt-2">SEEP 1.0</li>
            <p class="mt-4">
              Student Entrepreneurs Encouragement Program, hosted by TBI BITS Hyderabad, is an event dedicated to fostering 
              student-led startups. It offers a platform for budding entrepreneurs to pitch their ideas, receive expert mentorship, 
              and connect with potential investors. The program also includes workshops on business development, innovation, and 
              fundraising, empowering students with the tools and support needed to turn their ideas into successful, funded ventures.
            </p>
            <div>
              <Commongrid pictures={seep1pictures}/>
            </div>
            <li class="text-md text-nord10 mt-2">SEEP 2.0</li>
            <p class="mt-4">
              Coming soon!
            </p>
          </ul>
        </div>
      </div>
    </section>
  </main>
</PageLayout>
