---
import PageLayout from "@/layouts/PageLayout.astro";
import Contentstable from "@/components/contents-table/contentstable.astro";
import TeamCard from "@/components/cards/teamcard.astro";
import Commongrid from "@/components/grid/commongrid.astro";
import IncubateesCardGrid from "./carousels/cards";

const contents = [
  {
    title: "Incubation",
    link: "#incubation",
  },
  {
    title: "Pre Incubation",
    link: "#pre-incubation",
  },
  {
    title: "Virtual Incubation",
    link: "#virtual-incubation",
  },

  {
    title: "SEEP",
    link: "#seep",
  },
];

const seep1pictures = [
  "/programs/seepguest.png",
  "/programs/seep1.jpg",
  "/programs/seepgrp.png",
  
]

const seep2pictures = [
  "https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp",
  "https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp",
  "https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp",
]


---

<PageLayout>
  <main class="mt-8 md:flex md:flex-row gap-20 lg:px-[25vh] md:px-[10vh] px-2">
    <section>
      <div class="ml-3">
        <h1>PROGRAMMES</h1>
        <div>
          <Contentstable contents={contents} />
        </div>
      </div>
    </section>
    
    <section class="mt-6 md:mt-0">
      <div id="bphc" class="mb-6 scroll-mt-20">
        <IncubateesCardGrid />
        <h1 class="text-nord3 mb-2">Incubation</h1>
        <p>
          The Technology Business Incubator (TBI) at BITS Pilani, Hyderabad, offers a dynamic environment for startups and entrepreneurs 
          to thrive. Focused on innovation and technology, the incubation programs provide essential resources, mentorship, and networking 
          opportunities. Startups gain access to cutting-edge facilities, expert guidance from faculty and industry leaders, and funding support 
          through various schemes and investors.
          TBI BITS Hyderabad specializes in fostering startups across diverse sectors, including healthcare, fintech, and deep tech. 
          The programs are designed to help entrepreneurs at different stages of their journey, from ideation to scaling. Regular workshops, 
          demo days, and investor meets are organized to keep startups on track and connected with the broader ecosystem. With its robust 
          infrastructure and strong alumni network, TBI BITS Hyderabad is a catalyst for transforming innovative ideas into successful ventures.
        </p>
      </div>
      <div id="tbi" class="mb-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Pre Incubation</h1>
        <p>
          The Pre-Incubation program at TBI, BITS Pilani, Hyderabad Campus, is tailored specifically for student startups, offering a nurturing environment 
          to transform ideas into viable ventures. Aimed at early-stage entrepreneurs, this program provides students with essential resources, 
          mentorship, and hands-on experience. Participants receive guidance from experienced faculty, industry experts, and successful alumni, 
          helping them refine their business models and develop prototypes.The program focuses on critical aspects such as ideation, 
          market research, product development, and customer validation. Students also benefit from access to state-of-the-art facilities, workshops, 
          and networking opportunities. Regular pitching sessions and feedback loops are integral to the program, preparing participants for 
          the next stages of their entrepreneurial journey. Through this Pre-Incubation program, TBIS cultivates a spirit of innovation and 
          entrepreneurship among its students, equipping them with the skills and support needed to launch successful startups.
        </p>
      </div>
      <div id="thrust-areas" class="my-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">Virtual Incubation</h1>
        <p>
          The Virtual Incubation program at TBI, BITS Hyderabad, offers startups remote access to essential resources, 
          mentorship, and networking opportunities. Tailored for early-stage ventures, this program provides expert guidance, 
          workshops, and regular feedback sessions. Startups benefit from BITS Hyderabad's robust ecosystem, gaining support in 
          ideation, product development, and market strategy, all while staying connected with industry experts and investors, 
          ensuring their growth and success from anywhere.
        </p>
      </div>
      <div id="team" class="my-6 scroll-mt-20">
        <h1 class="text-nord3 mb-2">SEEP</h1>
        <div class="">
          <ul class="">
            <li class="text-md text-nord10 mt-2">SEEP 1.0</li>
            <p class="mt-4">
              Student Entrepreneurs Encouragement Program, hosted by TBI BITS Hyderabad, is an event dedicated to fostering 
              student-led startups. It offers a platform for budding entrepreneurs to pitch their ideas, receive expert mentorship, 
              and connect with potential investors. The program also includes workshops on business development, innovation, and 
              fundraising, empowering students with the tools and support needed to turn their ideas into successful, funded ventures.
            </p>
            <div>
              <Commongrid pictures={seep1pictures}/>
            </div>
            <li class="text-md text-nord10 mt-2">SEEP 2.0</li>
            <p class="mt-4">
              Coming soon!
            </p>
          </ul>
        </div>
      </div>
    </section>
  </main>
</PageLayout>
