---
import PageLayout from "@/layouts/PageLayout.astro";
import Contentstable from "@/components/contents-table/contentstable.astro";
import { Check } from "lucide-react";
import IncubationProgrammesCarousel from "./carousels/incubationgallery"
const contents = [
    {
        title: "Overview",
        link: "#overview",
    },

    {
        title: "Key Focus Areas",
        link: "#key-focus-areas",
    },
    {
        title: "Dynamic Engagement Models",
        link: "#dynamic-engagement-models",
    },
    {
        title: "Facilties",
        link: "#facilties",
    },
];
---

<PageLayout>
    <div>
        <section
            class="relative bg-[url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d996ca14-9e0e-4e62-ab25-299876a7b4cb/df78ber-08f3e46f-fe4d-4544-a53c-0da0db63c61c.png/v1/fill/w_1280,h_720,q_80,strp/nord_theme_wallpaper_by_thisahami_df78ber-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZDk5NmNhMTQtOWUwZS00ZTYyLWFiMjUtMjk5ODc2YTdiNGNiXC9kZjc4YmVyLTA4ZjNlNDZmLWZlNGQtNDU0NC1hNTNjLTBkYTBkYjYzYzYxYy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.71RgV8GY7UVeVoSZ1STKeNG6JpuIs6hS1fURh6t8WuE')] h-96 w-full"
        >
            <h1
                class="absolute text-5xl bottom-10 text-center md:left-[25vh] md:ml-2 text-white w-full md:w-0"
            >
                Incubation
            </h1>
        </section>
        <div class="my-8">
            <main
                class="mt-8 md:flex md:flex-row gap-20 lg:px-[25vh] md:px-[10vh] px-2"
            >
                <!-- Contents table -->
                <section>
                    <div class="ml-3">
                        <h1>CONTENTS</h1>
                        <div>
                            <Contentstable contents={contents} />
                        </div>
                    </div>
                </section>
                <section class="mt-6 md:mt-0">
                    <div id="introduction" class="mb-6 scroll-mt-16">
                        <h1 class="text-nord3 mb-2">Incubation for startups</h1>
                        <p>
                            The incubation program at AIC-CCMB provides an
                            ecosystem for life science research and innovation
                            in India. The center fosters industry-academia
                            interaction and addresses the problems faced in
                            translational research by startups.
                        </p>
                        <div class="p-4 bg-nord6 mt-4 rounded-xl">
                            <h1 class="mb-2">How do we support:</h1>
                            <li class="space-y-1 list-none">
                                <ul class="flex space-x-2">
                                    <p class="my-auto">
                                        <Check size={15} />
                                    </p>
                                    <p>Sophisticated testing facilities</p>
                                </ul>
                                <ul class="flex space-x-2">
                                    <p class="my-auto">
                                        <Check size={15} />
                                    </p>
                                    <p>Business Mentorship</p>
                                </ul>
                                <ul class="flex space-x-2">
                                    <p class="my-auto">
                                        <Check size={15} />
                                    </p>
                                    <p>Technical support from CSIR Labs</p>
                                </ul>
                                <ul class="flex space-x-2">
                                    <p class="my-auto">
                                        <Check size={15} />
                                    </p>
                                    <p>Funding through nodal agencies</p>
                                </ul>
                                <ul class="flex space-x-2">
                                    <p class="my-auto">
                                        <Check size={15} />
                                    </p>
                                    <p>
                                        An ecosystem of life-sciences talent
                                        pool
                                    </p>
                                </ul>
                                <ul class="flex space-x-2">
                                    <p class="my-auto">
                                        <Check size={15} />
                                    </p>
                                    <p>
                                        Access to information technology & data
                                        science capabilities
                                    </p>
                                </ul>
                            </li>
                        </div>
                    </div>
                    <div id="key-focus-areas" class="my-6 scroll-mt-16">
                        <h1 class="text-nord3 mb-2">Key Focus Areas</h1>
                        <p>
                            AIC-CCMB supports startups carrying out quality R&D
                            in frontier areas of applied life sciences including
                            diagnostics, medical devices, cancer
                            biopharmaceuticals, infectious diseases, genomics,
                            to name a few. Initiatives involving applications of
                            Information Technology and Data science to augment
                            life sciences research are encouraged.
                        </p>
                    </div>
                    <div
                        id="dynamic-engagement-models"
                        class="my-6 scroll-mt-16"
                    >
                        <h1 class="text-nord3 mb-2">
                            Dynamic Engagement Models
                        </h1>
                        <section class="grid lg:grid-cols-2 grid-cols-1 gap-1">
                            <div class="w-full h-56 bg-nord6"></div>
                            <div class="w-full h-56 bg-nord6"></div>
                            <div class="w-full h-56 bg-nord6"></div>
                            <div class="w-full h-56 bg-nord6"></div>
                        </section>
                    </div>
                    <div id="facilties" class="my-6 scroll-mt-16">
                        <h1 class="text-nord3 mb-2">Facilties</h1>
                        <p>
                            Current infrastructure at TBIS is well suited to
                            cattering the early to mid-stage innovative
                            start-ups by providing them with lab infrastructure,
                            instrumentation facilities, office cubicles,
                            co-working area, prototyping facility and access to
                            the state-of-the art instrumentation facility of the
                            institute. The existing TBIS is spanned over 8,000
                            SFT and the details of the existing facility are as
                            follows:
                        </p>
                        <div class="my-4">
                            <IncubationProgrammesCarousel client:visible />
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</PageLayout>
