---
const { pictures } = Astro.props;
---

<div class="flex items-center justify-center">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 my-8 mx-auto w-full"
  >
    {
      pictures.map((picture: string, index: number) => (
        <div>
          <img
            src={picture}
            alt={`Image ${index}`}
            class="h-56 w-full object-cover rounded-md"
          />
        </div>
      ))
    }
  </div>
</div>
