---
import PageLayout from "@/layouts/PageLayout.astro";
import Contactcard from "@/components/cards/contactcard.astro";
---

<PageLayout>
  <main class="px-6 md:px-[25vh]">
    <h1 class="text-center text-4xl my-8 text-nord10">CONTACT US</h1>
    <!-- <section class="my-4">
      <h2 class="text-2xl my-2 text-nord0">EMAIL US AT</h2>
      <div class="mb-2">
        <p class=" text-nord9">Sandeep Raut, General Manager, TBIS BITS Pilani Hyderabad Campus</p>
        <p class="hover:underline">sandeep.raut@hyderabad.bits-pilani.ac.in</p>
      </div>
      <div>
        <p class=" text-nord9">Mir Ali, Assistant Manager, TBIS BITS Pilani Hyderabad Campus</p>
        <p class="hover:underline">mirm.ali@hyderbad.bits-pilani.ac.in</p>
      </div>
    </section> -->
    <section>
      <div class="flex items-center justify-center">
        <div>
          <Contactcard
            name="Sandeep Raut, General Manager TBI"
            number={99999999999}
            email={"sandeep.raut@hyderabad.bits-pilani.ac.in"}
          />

          <Contactcard
            name="Mir Ali, Asst. Manager TBI"
            number={99999999999}
            email={"mirm.ali@hyderabad.bits-pilani.ac.in"}
          />
        </div>
      </div>
    </section>
    <section>
      <h1 class="text-center text-4xl my-8 text-nord10">REACH HERE</h1>
      <div class="flex justify-center items-center m-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.216233168949!2d78.56926307516852!3d17.544888783369426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb83594a86132d%3A0xc3e06e9e76cebf3d!2sBirla%20Institute%20of%20Technology%20%26%20Science%20Pilani%2C%20Hyderabad%20Campus!5e0!3m2!1sen!2sin!4v1715007871408!5m2!1sen!2sin"
          width="800"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
  </main>
</PageLayout>
