---
import HomeGallery from "./homegallery"
import PageLayout from "@/layouts/PageLayout.astro";
import { MultiImageCarousel } from "@/components/carousel/carousel";
import {ImpactCarousel} from  "@/components/carousel/impact"

---

<PageLayout>
  <section class="flex items-center justify-center px-6 md:px-0">
    <HomeGallery client:visible/>
  </section>
  <!-- introduction to TBI -->
  <section class="md:flex items-center justify-center gap-24 px-6 md:px-2 lg:px-[25vh] mb-10">
    <div class="md:w-[50%]">
      <div class="mb-6">
        <h1 class="text-nord10 text-4xl mb-4">
          Technology Business Incubator Society
        </h1>
        <h1 class="text-nord10 text-3xl">BITS Pilani, Hyderabad Campus</h1>
      </div>

      <p>
        BITS Pilani Hyderabad campus houses a technology business incubator (TBI) called 
        BITS Pilani Hyderabad Campus TBI Society (henceforth referred to as “TBIS”) since 
        2012 to encourage innovative entrepreneurship, and to facilitate translation of 
        knowledge or technology-driven innovations from within and outside the institute. 
        TBIS was initially established with the support of National Science and Technology 
        Entrepreneurship Development Board (NSTEDB), DST, Govt. of India and is currently 
        being supported by the intramural budget.
      </p>
    </div>

    <div class="mt-12">
      <img
        src="https://img-cdn.thepublive.com/fit-in/1280x960/filters:format(webp)/tice-news-prod/media/media_files/6XzHnuJ78bupu85NlbBv.png"
        alt="bits"
        class="rounded-3xl w-[60vh] object-fill"
      />
    </div>
  </section>
  <hr class="h-1 my-8 border-0 bg-nord10" />
  <!-- Vision and Goals -->
  <section class="flex flex-col items-center justify-center px-6 md:px-[25vh] -mb-8">
    <h1 class="text-center text-4xl text-nord10 mb-5">
      VISION AND GOALS
    </h1>
    <div class="md:flex gap-10">
      <img src="/tech.gif" alt="tech-gif" class=" m-auto w-[300px]" />
      <p class="md:mt-10 text-justify pr-4 mb-6 md:mb-0 ">
        At BITS Pilani Hyderabad Campus TBI, our vision is to be a pivotal force in shaping a vibrant entrepreneurial ecosystem, where 
        innovation and sustainable solutions emerge to address global challenges. Our goals include 
        fostering a dynamic culture of entrepreneurship that transcends traditional boundaries, providing startups with comprehensive 
        support to navigate the complexities of market entry, and forging strategic partnerships that amplify our impact. By nurturing 
        interdisciplinary collaboration and harnessing the power of our academic and industry networks, we aim to drive economic growth, 
        create meaningful social impact, and establish BITS Pilani Hyderabad TBI as a leading incubator on the global stage. 
    </div>
  </section>
  <hr class="h-1 my-8 border-0 bg-nord10" />
  <!-- Incubatees -->
  <section>
    <div class="flex flex-col items-center justify-center px-20 md:px-[25vh]">
      <h1 class="flex items-center justify-center text-4xl text-nord10 mb-5">
        INCUBATEES
      </h1>
      <div class="my-8">
        <MultiImageCarousel client:visible />
      </div>
    </div>
  </section>
  <hr class="h-1 my-8 border-0 bg-nord10" />
  <!-- Impact -->
  <section>
    <div class="flex flex-col items-center justify-center px-6 md:px-[25vh]">
      <h1 class="text-center text-4xl text-nord10 mb-5">
        IMPACT
      </h1>
      <div class="my-8 mt-8">
        <ImpactCarousel client:visible/>
      </div>
    </div>
  </section>
  <hr class="h-1 mt-8 border-0 bg-nord10" />
</PageLayout>
