---
interface Blogcard {
    name: string;
    img: string;
    description: string;
    link: string;
}

const { name, img, link, description } = Astro.props as Blogcard;
---

<div
    class="flex flex-col mt-6 pt-4 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-48 md:w-96"
>
    <div
        class="h-28 md:h-48 lg:h-56 mx-4 overflow-hidden text-white shadow-lg bg-clip-border rounded-xl bg-blue-gray-500 shadow-blue-gray-500/40"
    >
        <img src={img} alt="card-image" class="object-cover" />
    </div>
    <div class="p-6">
        <h5
            class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
        >
            {name}
        </h5>
        <p
            class="block font-sans text-base antialiased font-light leading-relaxed text-inherit"
        >
            {description}
        </p>
    </div>
    <div class="p-6 pt-0">
        <a href={link}>
            <button
                class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-nord3 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                type="button"
            >
                Read More
            </button>
        </a>
    </div>
</div>
