---
interface Card {
  name: string;
  number: string;
  email: string;
  imageLink: string;
  description: string;
  link?: string;
  date?: string;
}

const { name, email, number, link } = Astro.props as Card;
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq"
        alt=""
      />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg"
        alt=""
      />
    </div>
  </div>

  <div class="grid gap-4">
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto max-w-full rounded-lg"
        src="https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq"
        alt=""
      />
    </div>
  </div>
</div>
