---
const { name, description, linkedin, mail, image } = Astro.props;
import { Linkedin, Mail } from "lucide-react";
---

<div
    class="w-full my-4 md:max-w-72 items-center bg-white shadow-lg rounded-lg flex flex-col justify-center place-self-center"
>
    <img
        src={image??"https://res.cloudinary.com/moodgiver/image/upload/v1633344243/adventure_woman_rujic1.webp"}
        alt="img"
        title="img"
        class="w-full h-auto object-cover rounded-t-lg"
        id="whoobe-ixxe5"
    />
    <div class="w-full p-4 justify-start flex flex-col">
        <h4 class="border-b-2 text-3xl text-center pb-1">
            {name}
        </h4>
        <p class="my-4 text-center">
            {description}
        </p>
        <section class="flex items-center justify-center mt-2">
            <div class="flex gap-4">
                <a href={linkedin} target="_blank">
                    <div class="hover:bg-nord6 p-1 rounded-3xl">
                        <Linkedin />
                    </div>
                </a>
                <a href={mail} target="_blank">
                    <div class="hover:bg-nord6 p-1 rounded-3xl">
                        <Mail />
                    </div>
                </a>
            </div>
        </section>
    </div>
</div>
