---
import PageLayout from "@/layouts/PageLayout.astro";
import Card from "@/components/cards/card.astro";
---

<PageLayout>
  <main class="px-6 md:px-[25vh]">
    <h1 class="text-nord10 text-4xl text-left my-4">VIRTUAL INCUBATEES</h1>

    <p class="text-justify">
      COMING SOON!
    </p>
    <hr class="h-5 mt-8 border-0 bg-nord" />
    <hr class="h-5 mt-8 border-0 bg-nord" />
    <hr class="h-5 mt-8 border-0 bg-nord" />
    <hr class="h-5 mt-8 border-0 bg-nord" />
    <hr class="h-5 mt-8 border-0 bg-nord" />
    <hr class="h-5 mt-8 border-0 bg-nord" />
    <hr class="h-5 mt-8 border-0 bg-nord" />
  
  </main>
</PageLayout>
