---
import PageLayout from "@/layouts/PageLayout.astro";
import Commongrid from "@/components/grid/commongrid.astro";
import FacilityCardGrid from "./cards/facilitycards";
import { InfraGallery } from "./infragallery";

const contents = [
    {
        title: "Bio Lab",
        link: "#bio-lab",
    },
    {
        title: "Offices and Conference Rooms",
        link: "#incubatee-offices",
    },
    {
        title: "Co Working Spaces",
        link: "#co-working-spaces",
    },
    {
        title: "Prototyping Facilties ",
        link: "#prototyping-facilities",
    },
    {
        title: "Institute Facilities ",
        link: "#institute-facilities",
    },
];

const coworkingpictures = [
    "/infrastructure/coworking/coworking1.jpg",
    "/infrastructure/coworking/coworking2.jpg",
    "/infrastructure/coworking/coworking3.jpg",
]

const conferencepictures = [
    "/infrastructure/conference/office1.jpg",
    "/infrastructure/conference/conference1.jpg",
    "/infrastructure/conference/office2.jpg",
]

const biolabpictures = [
    "/infrastructure/biolab/biolab1.png",
    "/infrastructure/biolab/biolab2.png",
    "/infrastructure/biolab/biolab3.jpg",
]

const prototypepictures = [
    "infrastructure/prototyping/img1.jpg",
    "infrastructure/prototyping/img2.jpg",
    "infrastructure/prototyping/img3.jpg",
]
---

<PageLayout>
    <section class="flex items-center justify-center md:px-0">
        <InfraGallery client:visible/>
    </section>
    
    <main class="px-2 md:px-6 lg:px-[25vh] max-w-[1800px] mx-auto">
        <section class="my-8">
            <p class="text-justify">
                At TBI, we provide an ecosystem designed to accelerate the growth of innovative 
                startups in the biotech, pharma, and biopharma sectors. Our state-of-the-art 
                facilities are tailored to meet the unique needs of early-stage ventures, 
                offering access to cutting-edge resources and collaborative spaces.
            </p>
        </section>

        <!-- Bio Lab Section -->
        <section class="my-12">
            <h2 class="text-nord0 my-4 text-2xl scroll-mt-20" id="bio-lab">
                Bio Lab
            </h2>
            <p class="mb-8 text-justify">
                Our 2,400 square foot Biotech/Pharma Lab is fully equipped to support the development of groundbreaking prototypes. 
                The lab features Specialized Chemical Hoods and a Cell Culture Facility, a Bacteriological Lab, Refrigeration Room, Media Room,
                a Wash & Autoclave Area, along with four dedicated research labs designed for biotech and pharma startups. 
                The lab's high-tech environment enables startups to carry out research and development with the highest precision.
            </p>
            <div class="w-full my-8">
                <Commongrid pictures={biolabpictures} class="mx-auto"/>
            </div>
        </section>

        <!-- Offices Section -->
        <section class="my-12">
            <h2 class="text-nord0 my-4 text-2xl scroll-mt-20" id="incubatee-offices">
                Incubatee Offices and Conference Rooms
            </h2>
            <p class="mb-8 text-justify">
                TBI provides office space with 12 private offices and 34 flexible coworking hot-desks, 
                creating an ideal environment for productivity. Whether you need a private space to 
                focus or prefer a dynamic coworking setup, TBI has a place for you.
            </p>
            <div class="w-full my-8">
                <Commongrid pictures={conferencepictures} class="mx-auto"/>
            </div>
        </section>

        <!-- Coworking Section -->
        <section class="my-12">
            <h2 class="text-nord0 my-4 text-2xl scroll-mt-20" id="co-working-spaces">
                Co-working spaces
            </h2>
            <p class="mb-8 text-justify">
                TBI provides modern office spaces and
                well-equipped workspaces designed to foster
                innovation and productivity. Startups have
                access to dedicated labs, collaborative
                co-working areas, and private offices, creating
                an environment that supports both individual
                focus and team collaboration. The flexible
                workspace options and high-speed internet ensure
                that entrepreneurs can efficiently develop and
                scale their ventures. Additionally, the
                incubator's infrastructure is geared towards
                facilitating seamless interaction and networking
                with fellow innovators and industry experts.
            </p>
            <div class="w-full my-8">
                <Commongrid pictures={coworkingpictures} class="mx-auto"/>
            </div>
        </section>

        <!-- Prototyping Section -->
        <section class="my-12">
            <h2 class="text-nord0 my-4 text-2xl scroll-mt-20" id="prototyping-facilities">
                Prototyping Facilities
            </h2>
            <p class="mb-8 text-justify">
                Our 3,000 square foot shared prototyping space is a hub for collaboration, where startups can bring their 
                ideas to life. This facility includes: SLA Printers and 3D Printers, A 33W Laser Engraving Machine, DiniLite Digital microscopes, 
                2D Scanners and a variety of prototyping tools co-created with TBIS support. Startups also have access to the 
                institute's highly equipped prototyping facilities on demand, ensuring you have the resources you need 
                at every stage of prototype development.
            </p>
            <div class="w-full my-8">
                <Commongrid pictures={prototypepictures} class="mx-auto"/>
            </div>
        </section>

        <!-- Institute Facilities -->
        <section class="my-12">
            <h2 class="text-nord0 my-4 text-2xl scroll-mt-20" id="institute-facilities">
                Institute Facilities
            </h2>
            <p class="mb-8 text-justify">
                TBI startups also enjoy unmatched access to a broad range of 
                institute facilities. These include the Central Analytical Lab, 
                Clean Room, Central Animal Facility, and more. Whether it's for 
                cutting-edge research, preclinical testing, or drug discovery, 
                our access to top-tier resources ensures your startup has everything 
                it needs to succeed.Join us and accelerate your journey from concept 
                to market with the right tools, resources, and collaborative space.
            </p>
            <div class="w-full my-8">
                <FacilityCardGrid client:visible/>
            </div>
        </section>
    </main>
</PageLayout>