---
import PageLayout from "@/layouts/PageLayout.astro";
import Card from "@/components/cards/card.astro";
import Eventcard from "@/components/grid/brick.astro";
import Brick from "@/components/grid/brick.astro";
---

<PageLayout>
    <main class="px-[25vh]">
        <section class="my-8">
            <h1 class="text-3xl text-nord10">INFRASTRUCTURE</h1>
            <p>
                The Technology Business Incubator at BITS Pilani Hyderabad
                Campus offers state-of-the-art infrastructure, including labs
                and office spaces, to support startups in their growth journey.
                Entrepreneurs benefit from expert guidance, networking
                opportunities, and access to a vibrant ecosystem of industry
                leaders and investors. The incubator’s tailored programs and
                workshops enhance skills and accelerate the commercialization of
                technology-driven innovations. By fostering a dynamic
                environment for collaboration and experimentation, it plays a
                crucial role in shaping the next generation of successful tech
                enterprises.
            </p>
        </section>
        <section class="my-8">
            <h1 class="text-3xl text-nord10">WHAT WE OFFER</h1>
            <div class="mb-8">
                <h2 class="text-nord0 my-4 text-2xl">Bio Lab</h2>
                <p class="mb-8">
                    TBI provides modern office spaces and well-equipped
                    workspaces designed to foster innovation and productivity.
                    Startups have access to dedicated labs, collaborative
                    co-working areas, and private offices, creating an
                    environment that supports both individual focus and team
                    collaboration. The flexible workspace options and high-speed
                    internet ensure that entrepreneurs can efficiently develop
                    and scale their ventures. Additionally, the incubator’s
                    infrastructure is geared towards facilitating seamless
                    interaction and networking with fellow innovators and
                    industry experts.
                </p>
                <div class="flex items-center justify-center">
                    <Brick
                        col1={[
                            "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                            "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                            "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                        ]}
                        col2={[
                            "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                            "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                            "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                        ]}
                        col3={[
                            "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                            "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                            "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                        ]}
                        col4={[
                            "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                            "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                            "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                        ]}
                    />
                </div>
                <div class="mb-8">
                    <h2 class="text-nord0 my-4 text-2xl">Incubatee Offices</h2>
                    <p class="mb-8">
                        TBI provides modern office spaces and well-equipped
                        workspaces designed to foster innovation and
                        productivity. Startups have access to dedicated labs,
                        collaborative co-working areas, and private offices,
                        creating an environment that supports both individual
                        focus and team collaboration. The flexible workspace
                        options and high-speed internet ensure that
                        entrepreneurs can efficiently develop and scale their
                        ventures. Additionally, the incubator’s infrastructure
                        is geared towards facilitating seamless interaction and
                        networking with fellow innovators and industry experts.
                    </p>
                    <div class="flex items-center justify-center">
                        <Brick
                            col1={[
                                "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                            ]}
                            col2={[
                                "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                            ]}
                            col3={[
                                "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                            ]}
                            col4={[
                                "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                            ]}
                        />
                    </div>
                    <div class="mb-8">
                        <h2 class="text-nord0 my-4 text-2xl">
                            Co-working spaces
                        </h2>
                        <p class="mb-8">
                            TBI provides modern office spaces and well-equipped
                            workspaces designed to foster innovation and
                            productivity. Startups have access to dedicated
                            labs, collaborative co-working areas, and private
                            offices, creating an environment that supports both
                            individual focus and team collaboration. The
                            flexible workspace options and high-speed internet
                            ensure that entrepreneurs can efficiently develop
                            and scale their ventures. Additionally, the
                            incubator’s infrastructure is geared towards
                            facilitating seamless interaction and networking
                            with fellow innovators and industry experts.
                        </p>
                        <div class="flex items-center justify-center">
                            <Brick
                                col1={[
                                    "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                    "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                    "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                ]}
                                col2={[
                                    "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                    "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                    "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                ]}
                                col3={[
                                    "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                    "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                    "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                ]}
                                col4={[
                                    "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                    "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                    "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                ]}
                            />
                        </div>
                        <div class="mb-8">
                            <h2 class="text-nord0 my-4 text-2xl">
                                Conference Rooms
                            </h2>
                            <p class="mb-8">
                                TBI provides modern office spaces and
                                well-equipped workspaces designed to foster
                                innovation and productivity. Startups have
                                access to dedicated labs, collaborative
                                co-working areas, and private offices, creating
                                an environment that supports both individual
                                focus and team collaboration. The flexible
                                workspace options and high-speed internet ensure
                                that entrepreneurs can efficiently develop and
                                scale their ventures. Additionally, the
                                incubator’s infrastructure is geared towards
                                facilitating seamless interaction and networking
                                with fellow innovators and industry experts.
                            </p>
                            <div class="flex items-center justify-center">
                                <Brick
                                    col1={[
                                        "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                        "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                        "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                    ]}
                                    col2={[
                                        "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                        "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                        "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                    ]}
                                    col3={[
                                        "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                        "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                        "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                    ]}
                                    col4={[
                                        "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                        "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                        "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                    ]}
                                />
                            </div>
                            <div class="mb-8">
                                <h2 class="text-nord0 my-4 text-2xl">
                                    Prototyping Facilties
                                </h2>
                                <p class="mb-8">
                                    TBI provides modern office spaces and
                                    well-equipped workspaces designed to foster
                                    innovation and productivity. Startups have
                                    access to dedicated labs, collaborative
                                    co-working areas, and private offices,
                                    creating an environment that supports both
                                    individual focus and team collaboration. The
                                    flexible workspace options and high-speed
                                    internet ensure that entrepreneurs can
                                    efficiently develop and scale their
                                    ventures. Additionally, the incubator’s
                                    infrastructure is geared towards
                                    facilitating seamless interaction and
                                    networking with fellow innovators and
                                    industry experts.
                                </p>
                                <div class="flex items-center justify-center">
                                    <Brick
                                        col1={[
                                            "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                            "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                            "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                        ]}
                                        col2={[
                                            "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                            "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                            "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                        ]}
                                        col3={[
                                            "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                            "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                            "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                        ]}
                                        <div
                                        class="mb-8"
                                    >
                                        <h2 class="text-nord0 my-4 text-2xl">
                                            Prototyping Facilties
                                        </h2>
                                        <p class="mb-8">
                                            TBI provides modern office spaces
                                            and well-equipped workspaces
                                            designed to foster innovation and
                                            productivity. Startups have access
                                            to dedicated labs, collaborative
                                            co-working areas, and private
                                            offices, creating an environment
                                            that supports both individual focus
                                            and team collaboration. The flexible
                                            workspace options and high-speed
                                            internet ensure that entrepreneurs
                                            can efficiently develop and scale
                                            their ventures. Additionally, the
                                            incubator’s infrastructure is geared
                                            towards facilitating seamless
                                            interaction and networking with
                                            fellow innovators and industry
                                            experts.
                                        </p>
                                        <div
                                            class="flex items-center justify-center"
                                        >
                                            <Brick
                                                col1={[
                                                    "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                                    "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                                    "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                                ]}
                                                col2={[
                                                    "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                                    "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                                    "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                                ]}
                                                col3={[
                                                    "https://upload.wikimedia.org/wikipedia/commons/3/39/BITS_Pilani_-_Hyderabad_campus.jpg",
                                                    "https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img/https://www.bits-pilani.ac.in/wp-content/uploads/Convocation_m.jpg",
                                                    "https://content.jdmagicbox.com/comp/hyderabad/m9/040pxx40.xx40.090622140123.j5m9/catalogue/birla-institute-of-technology-and-science-shamirpet-rangareddy-universities-5qqwd2xqb4-250.jpg",
                                                ]}
                                                col4={[
                                                    "https://preview.redd.it/bitsians-drop-best-wallpaper-landscape-worthy-pics-of-the-v0-2hyx3vgd70qa1.png?width=1169&format=png&auto=webp&s=5b1a28fa8d42eee949a5e30bae0f259b6481ca5d",
                                                    "https://i.pinimg.com/originals/80/73/99/807399268acab15b7f508261c3b1b0b5.jpg",
                                                    "https://qph.cf2.quoracdn.net/main-qimg-2bd344acb4b37418fd4d88c45be2832a-lq",
                                                ]}
                                            />
                                        </div>
                                        />
                                    </Brick>
                                </div>
                                <div class="mb-8">
                                    <h2 class="text-nord0 my-4 text-2xl">
                                        Institute Facilties
                                    </h2>
                                    <p class="mb-8">
                                        TBI provides modern office spaces and
                                        well-equipped workspaces designed to
                                        foster innovation and productivity.
                                        Startups have access to dedicated labs,
                                        collaborative co-working areas, and
                                        private offices, creating an environment
                                        that supports both individual focus and
                                        team collaboration. The flexible
                                        workspace options and high-speed
                                        internet ensure that entrepreneurs can
                                        efficiently develop and scale their
                                        ventures. Additionally, the incubator’s
                                        infrastructure is geared towards
                                        facilitating seamless interaction and
                                        networking with fellow innovators and
                                        industry experts.
                                    </p>
                                    <ul>
                                        <li>
                                            <h1 class="mt-2 text-nord10 text-md">Clean Room</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur, adipisicing elit.
                                                Eius laborum, quos unde eveniet
                                                suscipit eligendi, obcaecati non
                                                dolorum, aperiam ad veritatis
                                                veniam impedit reiciendis.
                                                Itaque molestias facere eligendi
                                                sequi repellendus.
                                            </p>
                                        </li>
                                        <li>
                                            <h1 class="mt-2 text-nord10 text-md">Animal Facility</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur, adipisicing elit.
                                                Eius laborum, quos unde eveniet
                                                suscipit eligendi, obcaecati non
                                                dolorum, aperiam ad veritatis
                                                veniam impedit reiciendis.
                                                Itaque molestias facere eligendi
                                                sequi repellendus.
                                            </p>
                                        </li>
                                        <li>
                                            <h1 class="mt-2 text-nord10 text-md">CAL LAB</h1>
                                            <p>
                                                Lorem ipsum dolor sit amet
                                                consectetur, adipisicing elit.
                                                Eius laborum, quos unde eveniet
                                                suscipit eligendi, obcaecati non
                                                dolorum, aperiam ad veritatis
                                                veniam impedit reiciendis.
                                                Itaque molestias facere eligendi
                                                sequi repellendus.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main></PageLayout
>
