---
const today = new Date();
---

<footer class="bg-nord1 w-full flex-col items-center justify-center px-5 py-10 text-slate-200">
	<div class="text-center ">
		&copy; {today.getFullYear() + "-" + (today.getFullYear() + 1)}
        Technology and Business Incubator, BITS Pilani Hyderabad Campus.
        All rights reserved.
	</div>
	<div class="flex flex-col md:flex-row md:justify-between space-y-10">
		<div class="mt-10 md:w-[50%]">
			<h1 class="text-2xl mb-4">Contact Us</h1>
			<p>
				Email us at:
                <p class="mt-2 hover:underline">
                    tbi@bits.hyderabad.com
                </p>
                <p class=" hover:underline">
                    tbi@bits.hyderabad.com
                </p>
			</p>
            <p class="mt-4">
                Call us at: 
                <p class="mt-2">
                    999xxxxxxxx
                </p>
            </p>
		</div>
		<div class="md:w-[50%] md:flex md:flex-col md:items-center md:justify-center">
			<h1 class="text-2xl mb-4">
				Quick links
			</h1>
			<p class="text-white">
				<li class=' list-none list-arrow'>
					<ul class=''>
						<a class="hover:text-slate-400" href="/"> &gt; Home</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/about">&gt; About</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/leadership">&gt; Incubatees</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/speakers">&gt; Events</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/submissions">&gt; Programmes</a>
					</ul>
					<ul class='my-2'>
						For any queries, contact us at <span class="hover:underline cursor-pointer">tbi@bits.hyderabad.com</span>
					</ul>
					<ul>
						<a href="https://www.google.com/maps/dir//Birla+Institute+of+Technology+%26+Science+Pilani,+Hyderabad+Campus,+BITS+Pilani+Hyderabad+Campus,+Secunderabad,+Telangana+500078/@17.5458527,78.5731274,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bcb83594a86132d:0xc3e06e9e76cebf3d!2m2!1d78.571838!2d17.5448888?entry=ttu"
						   class="hover:underline"
						   target="_blank"
						>
							Location of BITS Pilani, Hyderabad Campus
						</a>
					</ul>
				</li>
			</p>
		</div>
		<div>

		</div>
	</div>
	<img src="bits.gif" alt="bits" class="mt-6">

</footer>