---
import PageLayout from "@/layouts/PageLayout.astro";
import TeamCard from "@/components/cards/teamcard.astro";
import Mentorcard from "@/components/cards/mentorcard.astro";
// note that all links of social media should be absolute ("http://linkedin.com/..." not "linkedin.com/")
---

<PageLayout>
    <main class="px-6 md:px-[25vh] my-8">
        <section class="text-center text-4xl my-8">OUR MENTORS</section>
        <div class="flex items-center justify-center">
            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
                <Mentorcard name="Narendra Modi"/>
                <Mentorcard name="Narendra Modi"/>
                <Mentorcard name="Narendra Modi"/>
                <Mentorcard name="Narendra Modi"/>
                <Mentorcard name="Narendra Modi"/>
                <Mentorcard name="Narendra Modi"/>
            </section>
        </div>
    </main>
</PageLayout>
