---
import PageLayout from "@/layouts/PageLayout.astro";
import PreIncubateeCard from "./pre-incubatee-card.astro";
---

<PageLayout>
  <main class="px-6 md:px-[25vh]">
    <h1 class="text-nord10 text-4xl text-left my-4 font-bold">Pre-Incubatees</h1>

    <p class="text-justify">
      The Technology Business Incubator (TBI) at BITS Pilani, Hyderabad Campus currently incubates 
      twenty-one startups at its premises. The incubatees are working on a wide range of technologies 
      and products, encompassing major thrust areas such as SpaceTech and Defence, ICT for Healthcare, Micro-Electro-Mechanical 
      Systems (MEMS), Bio-Technology and Pharmacy, Edutainment and E-Commerce and Agri-Technology
      and Agri-Bio-Technology
    </p>
    <div class="flex items-center justify-center">
      <div
        class="grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-2 md:-ml-4"
      >
        <PreIncubateeCard
          name={"Bikings"}
          link="#"
          img={"/startups/abyom.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"AgriVolt"}
          link="#"
          img={"/startups/anjamma.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Omilia"}
          link="#"
          img={"/startups/cleome.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"W&H"}
          link="#"
          img={"/startups/pyrome.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Bino"}
          link="#"
          img={"/startups/sensome.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"EstateVerse"}
          link="#"
          img={"/startups/Applied_Aero_Labs.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Bloom India"}
          link="#"
          img={"/startups/pharmajen.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Rap Evap"}
          link="#"
          img={"/startups/loka.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Citrana.AI"}
          link="#"
          img={"/startups/masuu.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Aphrelle"}
          link="#"
          img={"/startups/cinnova.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Navio"}
          link="#"
          img={"/startups/tangerne.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"SensGuide"}
          link="#"
          img={"/startups/atreves.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Ace It"}
          link="#"
          img={"/startups/alfaleus.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"AgeWell"}
          link="#"
          img={"/startups/abyom.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Quick Fix"}
          link="#"
          img={"/startups/anjamma.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"knowfounders"}
          link="#"
          img={"/startups/cleome.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"ElectroDynamos"}
          link="#"
          img={"/startups/pyrome.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"TriNetra"}
          link="#"
          img={"/startups/sensome.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"GastroPatch Innovations"}
          link="#"
          img={"/startups/Applied_Aero_Labs.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"OcuSafe"}
          link="#"
          img={"/startups/pharmajen.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Prakirbha AI"}
          link="#"
          img={"/startups/loka.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
        <PreIncubateeCard
          name={"Neoves"}
          link="#"
          img={"/startups/masuu.png"}
          description = "Student Startup incubated at Technology Business Incubator, BITS Hyderabad"
        />
      </div>
    </div>
  </main>
</PageLayout>
