---
import PageLayout from "../../layouts/PageLayout.astro";
import { SerpGallery } from "./serpGallery";
import SerpContent from "./SerpContent";
---

<PageLayout title="SERP Project">

  <section class="flex items-center justify-center md:px-0">
    <SerpGallery client:visible />
  </section>

  <!-- React Component -->
  <SerpContent client:load />

</PageLayout>