---
import '@/styles/globals.css'
import Navbar from "@/components/navbar/navbar";
import Header from "@/components/header/header";
import Footer from '@/components/footer/footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full bg-nord-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"></div>
		<!-- <div class="absolute top-0 -z-10">
			<img src="/blob-scene-haikei.svg" class="w-full">
		</div> -->
		
		<Header client:visible/>
		<Navbar client:visible/>
		<slot/>
		<Footer/>
		
	</body>
</html>